*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Agbalumo','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(51, 24, 24);
}
#imgRifa{
  position:relative;
  margin: 0 auto;
  display:flex;
  width:400px;
  max-width: 100%;
  ;;
}
.numbers{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url('./textura.jpeg'); 
  /* background-color: linear-gradient(#ca84a1, rgb(201, 155, 211)); */
  background-color: #e4aec4;
  background-blend-mode: multiply;
}
.numbers h2{
  position:relative;
  color:rgb(62, 42, 63);
  margin: 2rem 0 1rem;
  text-align: center;
  width:100%;
}
.numbers p{
  text-align: center;
}
.numbers-container{
  display: flex;
  margin: 1rem 0;
  padding: 10px 20px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.circle{
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 8px 8px;
  margin: 2px;
  border: 2px solid rgb(148, 146, 146);
  border-radius: 15px;
}
.circle :hover{
  transition: ease 300ms;
  transform: scale(1.1);
  border-radius: 20px;
}
.fone{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.num{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.vermelho{
  background-color: rgb(253, 159, 159);
}
.verde{
   background-color: rgb(159, 230, 159);
}